body {
  font-family: "Libre Baskerville", serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: black;
  background-color: #000;
  background: linear-gradient(45deg, #fb6f92, #ff8fab, #ff527d);
}

#navbar {
  background-color: #adc178;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: #132a13;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #132a13;
  color: #adc178;
}

.welcome-container {
  position: relative;
  top: 30px;
  left: 40px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  padding: 20px;
  z-index: -1;
}

#welcome img {
  height: 250px;
  width: 250px;
  border-radius: 4px;
}

#welcome h1 {
  color: #132a13;
}
#welcome p {
  font-weight: 200;
  font-style: italic;
  color: #132a13;
}

.about h2 {
  color: #132a13;
  text-align: center;
  text-decoration: underline;
}

.about {
  border: 3px solid #132a13;
  border-radius: 30px;
  margin-bottom: 15px;
}

.about p {
  text-align: center;
}

.skills-section {
  background: #adc178;
  color: #132a13;

  margin: auto;
  width: 50%;
  border: 3px solid #132a13;
  border-radius: 40px;
  padding: 10px;
}

.skills-section h1 {
  text-align: center;
  color: #132a13;
}

.flex-container {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: #adc178;
  padding: 10px;
}

.row,
.row > .column {
  padding: 8px;
}
.project-section {
  padding: 20px;
}
.project-section h2 {
  text-align: center;
  color: #132a13;
  text-decoration: underline;
}
.weather-app {
  text-decoration: none;
  color: #132a13;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #132a13;
  color: #adc178;
}

footer a {
  text-decoration: none;
  color: #ff8fab;
}

footer a:hover {
  background-color: #ff8fab;
  color: #132a13;
}
